body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px;
  gap: 0 0;
  grid-template-areas: "desktop" "taskbar";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute; }
  body desktop {
    display: flex;
    overflow: hidden; }

body {
  cursor: default;
  background-color: #0193e6;
  background-image: url("/assets/img/wallpaper/default.jpg");
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
  font-family: Segoe UI,Segoe,Calibri,Candara,Optima,Arial,sans-serif;
  font-size: 12px; }
